@model IEnumerable<Topic>
@using RandomChat.Models


<div classs="row">
    @foreach (Topic topic in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                <h4 style="text-align:center; font-weight:bold">@topic.TopicName</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">@topic.TopicName</h5>
                <p class="card-text" style="border-top: 1px solid gray  ">
                 Anonymous: @Html.Raw(ChatManger.getInstance().GetReply(topic.TopicId).Result.Items.FirstOrDefault()?.Reply)
                </p>

                <a asp-action="List" asp-controller="Chat" asp-route-id="@topic.TopicId" class="btn btn-primary">See more</a>
            </div>
        </div>
    }
</div>