@model IEnumerable<Topic>

@{
    ViewData["Title"] = "Start Chatting";
}
    <ul class="nav">
        <li class="nav-item">
            <a asp-action="Create">Create New</a>
        </li>

        <li class="nav-item" style="float:right;">
            <a id="btnRefresh">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        </li>
    </ul>
    <form asp-controller="PostPartial">
        <div id="loader" style="display:none;"></div>
        <div id="posts">

        </div>
    </form>
<script>
    $.ajax({
        url: "/PostPartial/ReList",
        type: "Get",
        success: function (response) {
            $("#posts").html(response)
        }
    });

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("posts").style.display = "block";
    }

    $("#btnRefresh").click(function () {
        document.getElementById("loader").style.display = "block";
        document.getElementById("posts").style.display = "none";
        setTimeout(showPage, 1000);
        $("#posts").load("/PostPartial/ReList");
    }
    );
</script>