@model Login
@{
    ViewData["Title"] = "Setting";
}


    <div class="card">
        <h1>Set up a bit of your information</h1>
        <form asp-action="Index" style="margin-left:25px;">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input id="Password" name="Password" type="password" class="form-control" />
            </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
                @Html.ValidationMessage("LoginFailed", new { @class = "text-danger" })
                <div class="form-group">
                    <input type="button" value="Register" class="btn btn-link" onclick="@("window.location.href='" + @Url.Action("Create", "Home") + "'");" />
                </div>
        </form>
    </div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}









